#

global
  daemon
  master-worker

  ca-base   /etc/ssl/certs
  crt-base  /etc/ssl/private

  maxconn 512
  ssl-default-server-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
  ssl-default-server-options no-sslv3 no-tlsv10 no-tlsv11 no-tlsv12 no-tls-tickets
  ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
  ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384
  ssl-default-bind-options prefer-client-ciphers no-sslv3 no-tlsv10 no-tlsv11 no-tls-tickets

  # stats socket 127.0.0.1:9000 mode 660 level admin
  stats socket /var/run/haproxy.sock mode 600 level admin

  server-state-file haproxy_state
  server-state-base /run

resolvers resolvconf
  parse-resolv-conf
  resolve_retries 3
  timeout resolve 300s
  timeout retry     1s
  hold other       60s
  hold refused     30s
  hold nx          30s
  hold timeout     30s
  hold valid      120s
  hold obsolete   120s

defaults
  mode    tcp
  option  dontlognull
  timeout connect         10s
  timeout server          86400s
  timeout client          86400s
  timeout tunnel          86400s
  timeout http-keep-alive 1m
  default-server init-addr last,none

frontend stats
  mode http
  bind {{ haproxy_stats_listen }}
{% for ln in haproxy_stats.split("\n") %}
  {{ ln }}
{% endfor %}

{% for svc, cfg in haproxy_services.items() %}
frontend {{ svc }}
  bind {{ cfg.listen }} mss 1300
  option clitcpka
  use_backend {{ svc }}-backend

backend {{ svc }}-backend
  mode tcp
  fullconn 512
  balance roundrobin

{% for ln in cfg.backend.splitlines() %}
  {{ ln }}
{% endfor %}

{% endfor %}

{% if haproxy_vhost_listen and haproxy_vhost_backend %}
frontend contolplane
  bind {{ haproxy_vhost_listen }} mss 1300
  option clitcpka
  use_backend contolplane

backend contolplane
  mode tcp
  fullconn 512
  balance roundrobin

  option httpchk GET /readyz HTTP/1.0
  http-check expect status 200,401

{% for ln in haproxy_vhost_backend.splitlines() %}
  {{ ln }} source {{ haproxy_vhost_listen | split(':') | first }}
{% endfor %}

frontend contolplane-talos
  bind {{ haproxy_vhost_listen | split(':') | first }}:50001 mss 1300
  use_backend contolplane-talos

backend contolplane-talos
  mode tcp
  fullconn 512
  balance roundrobin

  option tcp-check
  tcp-check connect port 50001

  default-server inter 30s fall 2 rise 2 on-marked-down shutdown-sessions resolvers resolvconf init-addr last,none resolve-prefer ipv4
{% for ln in haproxy_vhost_backend.splitlines() %}
{% if ln.startswith("server ") %}{% set srv = ln.split() %}
  server {{ srv[1:3] | join(' ') | split(':') | first }}:50001 check source {{ haproxy_vhost_listen | split(':') | first }}
{% endif %}
{% endfor %}
{% endif %}
